
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    min-height: 400px;
    min-width: 360px;
}

h1 {
    text-align: center;
}

h1:hover{
    text-transform: uppercase;
    color: blue;
}

fieldset {
    margin: 10px;
}

legend {
    background-color: slateblue;
    color: snow;
    border-radius: 5px;
    padding: 5px;
}

fieldset > div{
    display: flex;
    flex-flow: row wrap;
    margin: 2px;
}

fieldset > div > *{
    flex: 1 1 200px;
}

input[type="submit"],input[type="reset"]{
    width: 45%;
    margin: 5px 2px;
    background-color: steelblue !important;
    color: snow;
}

input[type="submit"],input[type="reset"]:hover {
    cursor: pointer;
}

table {
    /* width: auto; */
    margin: auto;
}

td {
    border: 1px solid gold;
    padding: 5px;
}

tbody {
    text-align: center;
}

button {
    border: none;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
    background-color: steelblue;
}

button:hover {
    background-color: aqua;
}
